.name {
   font-size: 5em;
}

.screen {
    height: 100vh;
}

.content {
   width: fit-content;
   margin-left: auto;
   margin-right: auto;
   height: fit-content;
   padding-top: 30vh;
   margin-top: 0;
   text-align: center;
}

.arrow-icon {
    height: 5vh;
    margin-top: auto;
}

.icon {
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
        margin-top: 30vh;
}